<h1>Projects List</h1>

<table class='table' id='project_table'>
  <thead>
  <tr>
    <th>File Name</th>
    <th>Last Updated</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <% @projects.each do |project| %>
        <td><%= link_to project.document_file_name, user_project_path(project.student, project, :format => :html) %></td>
        <td><%= project.updated_at %></td>
        <td><%= link_to 'Edit', "#" if project.student == current_user || project.student.lecturer == current_user %></td>
        <td><%= link_to 'Destroy', "#" if project.student == current_user %></td>
      <% end %>
    </tr>
  </tbody>

 </table>
