<footer class="footer">
  <small>
    <a>Project Developed</a>
    by Olushola Akinmolayan
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "News", '#' %></li>
      <li><%= link_to "Chat", '#' %></li> 
    </ul>
  </nav>
</footer>
