<header class="navbar navbar-fixed-top navbar-inverse">
          <div class="navbar-inner">
            <div class="container">
              <%= link_to "Online Supervision App", root_path, id: "logo" %>
              <nav>
                <ul class="nav pull-right">
                  <li><%= link_to "Home", root_path %></li>
                  <li><%= link_to "Contact", contact_path %></li>
                  <li><%= link_to "Sign in", '#' %></li>
                  <li class="dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle">Supervision<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="#">Project Upload</a></li>
                      <li><a href="#">View Recent Upload"</a></li>
                      <li><a href="#">Download File</a></li>
                    <li class="divider"></li>
                  <li><a href="#">Trash</a></li>
                              </ul>
                              </li>
                        </ul>
              </nav>
            </div>
          </div>
        </header>
        <div class="container">
</header>
